[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==9.0.3"
port-for = "==1.0.0"
mirakuru = "==3.0.2"
packaging = "==26.0"
pymysql = "==1.1.2"
pytest-mysql = {path = ".", editable = true}

[dev-packages]
towncrier = "==25.8.0"
pytest-xdist = "==3.8.0"
mock = "==5.2.0"
coverage = "==7.13.5"
tbump = "==6.11.0"
mypy = "==1.20.0"
types-pymysql = "==1.1.0.20260408"
